<% @page_title = "Skill list" %>
 <div class="Skill">
  <table>
  <tr>
    <th>Name</th>

    <th colspan="2"></th>
  </tr>
 
      <tr>
      <td><%= @skill.skill %></td>
      </tr>
  
</table>
</div>
<%= link_to 'Back', skills_path %>